/* Section: Contact */

.contact-content {
    display: flex;
    justify-content: space-between;
}

.contact {
  /* background-color: #111; */
  padding: 5px 100px;
}

.contactInfo {
    margin: 20px 0;
}

.formBx {
  min-width: 60%;
}

.formBx form {
  display: flex;
  flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
}

.formBx form textarea {
  min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: #999;
}

.formBx form input[type="submit"] {
  max-width: 100px;
  background: #ff014f;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.formBx form input[type="submit"]:hover {
  background: #111;
}

.contactInfo {
  min-width: 40%;
}

.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfoBx .box .icon {
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #ff014f;
  margin-bottom: 0;
}

.contactInfoBx .box .text p {
    font-weight: 500;
    color: white;
    margin-bottom: 0;
  }

.box .text a {
  text-decoration: none;
  color: #fff;
}

.box .text a:hover {
  color: #ff014f;
}

.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  color: #666;
}

footer {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.footer-icons:hover {
    color: #ff014f;
}
  
.footer-icons {
    margin: 20px 10px;
    color: #fff;
}

@media (max-width: 768px) {
  .contact {
    padding: 0 15%;
  }
  .contact-content {
    display: block;
    justify-content: space-between;
  }
}